<div  class="modal fade" id="mdlConfirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="formNuevoProducto">
        <div class="modal-body">
          <h6>¿Estas seguro de eliminar el producto?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="deleteProducto()" class="btn btn-secondary">Si</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function deleteProducto(){
    $.ajax({
          method: "delete",
          url: "http://apis-oxigas.c2510084.ferozo.com/api/productos/"+producto_to_delete,
          headers: {"Authorization": "Bearer "+_token}
        }).done(function(msg){

          $("#mdlConfirmDelete").modal("hide");
          updateDatatable();
        });
  }
</script>